html {
  background-color: #bfbfbf;
  color: #00142f;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
body {
  width: 1200px;
  padding: 0px;
  margin: 0px auto 0px auto;
  background-color: #e7e7e7;
  -webkit-box-shadow: 0 0 5px 5px #888;
  box-shadow: 0 0 5px 5px #888;
}
body a {
  text-decoration: none;
}
body h1 {
  font-weight: 200;
}
body h2 {
  font-size: 25px;
  font-weight: 200;
  margin-bottom: 75px;
  width: 480px;
  height: 53px;
  color: #fff;
  line-height: 53px;
  margin-left: auto;
  margin-right: auto;
}
body p {
  font-size: 14px;
  font-weight: 200;
}
body header {
  height: 426px;
  background-image: url("/images/top-banner.jpg");
  color: #fff;
  position: relative;
  border-top: 5px solid #000;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 70px;
}
body nav {
  background-color: #f8f8f8;
  z-index: 20;
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.5);
  box-shadow: 0 1px 10px rgba(0,0,0,0.5);
  width: 1200px;
  position: relative;
}
body nav.pos1:after,
body nav.pos1:before {
  left: 10%;
}
body nav.pos2:after,
body nav.pos2:before {
  left: 30%;
}
body nav.pos3:after,
body nav.pos3:before {
  left: 50%;
}
body nav.pos4:after,
body nav.pos4:before {
  left: 70%;
}
body nav.pos5:after,
body nav.pos5:before {
  left: 90%;
}
body nav:after,
body nav:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  -webkit-transition: left 0.5s ease-in-out;
  -moz-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  -ms-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
}
body nav:after {
  border-color: rgba(248,248,248,0);
  border-top-color: #f8f8f8;
  border-width: 8px;
  left: 50%;
  margin-left: -8px;
}
body nav:before {
  border-color: rgba(248,248,248,0);
  border-top-color: #f8f8f8;
  border-width: 14px;
  left: 50%;
  margin-left: -14px;
}
body nav .navLinks {
  margin-left: auto;
  margin-right: auto;
}
body nav .navLinks a {
  width: 235px;
  height: 50px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 14px 0px 0px 0px;
  color: #000;
  margin: 0px;
  border-right: 1px solid #dfdfdf;
  font-size: 15px;
}
body nav .navLinks a.active {
  color: #0084ff;
}
body nav .navLinks a:first-child {
  border-left: none;
}
body nav .navLinks a:last-child {
  border-right: none;
}
body nav.fixed {
  position: fixed;
  top: 0px;
}
body footer {
  background-color: #000;
  padding: 15px 100px 15px 100px;
  height: 25px;
}
body footer span {
  float: left;
  color: #c4c4c4;
  font-size: 13px;
  font-weight: 600;
  line-height: 25px;
}
body footer a.button {
  float: right;
  background-color: #a4cc42;
  color: #000;
  font-size: 11px;
  padding: 5px 25px 5px 25px;
  font-weight: 600;
}
body section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 60px 185px 60px 185px;
  text-align: center;
}
body section:nth-child(even) {
  background-color: #e7e7e7;
}
body section:nth-child(odd) {
  background-color: #e0e0e0;
}
body section#what article {
  text-align: left;
  line-height: 24px;
}
body section#youth article {
  text-align: left;
  line-height: 24px;
}
body section#participate h3 {
  font-size: 23px;
  font-weight: 300;
  margin-bottom: 30px;
}
body section#participate p {
  text-align: left;
}
body section#participate ul {
  list-style: none;
  margin: 80px 0px 0px 0px;
  padding: 0px;
  width: 100%;
  height: 1000px;
}
body section#participate ul li {
  float: left;
  margin: 0px 150px 0px 0px;
  width: 170px;
  height: 500px;
  text-align: center;
}
body section#participate ul li:first-child {
  padding-left: 0px;
}
body section#participate ul li:nth-child(3n+3) {
  margin-right: 0px;
}
body section#participate ul li img {
  width: 150px;
}
body section#participate ul li p {
  font-size: 15px;
  text-align: center;
  width: 100%;
  margin: 20px 0px 0px 0px;
}
body section#signup,
body section#sponsor {
  background-color: #0d97f7;
  height: 240px;
}
body section#signup h2,
body section#sponsor h2 {
  margin-top: 0px;
  padding-top: 0px;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}
body section#signup .button,
body section#sponsor .button {
  background-color: #d6fe55;
  color: #000;
}
body section#where {
  padding: 60px 100px 60px 100px;
}
body section#where #map {
  width: 760px;
  height: 255px;
  margin: 0px 20px 0px 0px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
body section#where .details {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-size: 14px;
  font-weight: 200;
  margin: 0px;
  width: 169px;
  border-left: 1px solid #b2b2b2;
  padding: 0px 0px 0px 20px;
}
body section#where .details .address {
  margin-bottom: 112px;
}
body section#where .details .address h3 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 18px;
}
body section#where .details .address p {
  margin-top: 0px;
  font-weight: 200;
  font-size: 14px;
}
body section#where .details .contact h3 {
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 0px;
}
body section#where .details .contact p {
  margin: 5px 0;
  padding: 0px;
}
#sponsorLogos ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 300px;
}
#sponsorLogos ul li {
  float: left;
  width: 276px;
  margin-bottom: 30px;
}
.button {
  background-color: #0a54ba;
  color: #e1e1e1;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 40px 10px 40px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
}
.arrow_box {
  position: relative;
  background: #0d97f7;
}
.arrow_box:after {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.arrow_box:after {
  border-color: rgba(13,151,247,0);
  border-top-color: #0d97f7;
  border-width: 9px;
  left: 50%;
  margin-left: -9px;
}
