@import 'node_modules/nib/index'

html
  background-color: #BFBFBF 
  color: #00142f
  text-align: center 
  padding: 0px
  margin:0px


body
  width: 1200px
  padding: 0px
  margin: 0px auto 0px auto
  background-color: #e7e7e7
  box-shadow: 0 0 5px 5px #888
  a
    text-decoration:none

  h1
    font-weight: 200
    
    
  h2
    font-size: 25px 
    font-weight: 200
    margin-bottom: 75px
    width: 480px
    height: 53px 
    color: white
    line-height: 53px
    margin-left: auto
    margin-right: auto
  p
    font-size: 14px 
    font-weight: 200

  header
    height: 426px
    background-image: url("/images/top-banner.jpg")
    color: white 
    position:relative 
    border-top: 5px solid black
    text-align: center
    box-sizing: border-box
    padding-top: 70px

  nav 
    background-color: #F8F8F8
    z-index: 20
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5)
    width: 1200px
    position: relative

    &.pos1 
      &:after, &:before
        left: 10%
    &.pos2 
      &:after, &:before
        left: 30%
    &.pos3 
      &:after, &:before
        left: 50%
    &.pos4
      &:after, &:before
        left: 70%
    &.pos5
      &:after, &:before
        left: 90%

    &:after, &:before 
      top: 100%
      border: solid transparent
      content: " "
      height: 0
      width: 0
      position: absolute
      pointer-events: none
      transition: left 0.5s ease-in-out

    &:after
      border-color: rgba(248, 248, 248, 0)
      border-top-color: #F8F8F8
      border-width: 8px
      left: 50%
      margin-left: -8px


    &:before 
      border-color: rgba(248, 248, 248, 0)
      border-top-color: #F8F8F8
      border-width: 14px
      left: 50%
      margin-left: -14px

    .navLinks
      margin-left: auto
      margin-right: auto
      a 
        width: 235px
        height: 50px 
        display: inline-block
        box-sizing: border-box
        padding:  14px 0px 0px 0px 
        color: black
        margin: 0px
        border-right: 1px solid #DFDFDF
        font-size: 15px
        &.active
          color: #0084ff
        // border-left: 1px solid #FFFFFF
        &:first-child
          border-left: none
        &:last-child
          border-right: none
    &.fixed
      position: fixed 
      top: 0px
  footer
    background-color: black
    padding: 15px 100px 15px 100px
    height: 25px
    span
      float: left
      color: #c4c4c4
      font-size: 13px
      font-weight: 600
      line-height: 25px
    a.button
      float:right
      background-color: #A4CC42
      color: black
      font-size: 11px
      padding: 5px 25px 5px 25px
      font-weight: 600
  section
    box-sizing: border-box
    padding: 60px 185px 60px 185px
    text-align: center

    &:nth-child(even)
      background-color: #E7E7E7
    &:nth-child(odd)
      background-color: #E0E0E0

    &#what
      article 
        text-align: left
        line-height: 24px
    

    &#youth
      article
        text-align: left
        line-height: 24px

    &#participate
      h3 
        font-size: 23px 
        font-weight: 300
        margin-bottom: 30px
      p 
        text-align: left
      ul 
        list-style: none
        margin: 80px 0px 0px 0px
        padding: 0px
        width: 100%
        height: 1000px
        li
          float:left 
          margin: 0px 150px 0px 0px
          width: 170px
          height: 500px
          text-align: center
          &:first-child
            padding-left: 0px 
          &:nth-child(3n+3)  
            margin-right: 0px
          img 
            width: 150px
            
          p
            font-size: 15px
            text-align: center
            width: 100%
            margin: 20px 0px 0px 0px
           

    &#signup, &#sponsor
      background-color: #0D97F7
      height: 240px
      h2
        margin-top:0px
        padding-top: 0px
        width: 100%
        text-align: center
        margin-bottom: 25px
      .button
        background-color: #D6FE55
        color: black
    &#where 
      padding: 60px 100px 60px 100px
      #map
        width: 760px 
        height: 255px
        margin: 0px 20px 0px 0px
        display: inline-block
        vertical-align: top
        text-align: left
      .details
        display: inline-block
        vertical-align: top
        text-align: left
        font-size: 14px 
        font-weight: 200
        margin: 0px 
        width: 169px
        border-left: 1px solid #b2b2b2
        padding: 0px 0px 0px 20px
        .address
          margin-bottom: 112px
          h3 
            margin-top: 0px
            margin-bottom: 5px
            font-size: 18px
          p 
            margin-top: 0px
            font-weight: 200
            font-size: 14px
        .contact 
          h3
            font-size: 11px
            font-weight: 600
            margin-bottom:0px
          p
            margin: 5px 0
            padding: 0px

#sponsorLogos
  ul 
    list-style: none
    padding:0px
    margin:0px
    width: 100%
    height: 300px
    li 
      float: left 
      width: 276px
      margin-bottom: 30px


.button
  background-color: #0A54BA
  color : #e1e1e1 
  font-weight: 600
  font-size: 18px
  padding: 10px  40px 10px 40px 
  border-radius: 5px
  text-decoration: none


.arrow_box 
  position: relative
  background: #0D97F7

.arrow_box:after 
  top: 100%
  border: solid transparent
  content: " "
  height: 0
  width: 0
  position: absolute
  pointer-events: none


.arrow_box:after 
  border-color: rgba(13, 151, 247, 0)
  border-top-color: #0D97F7
  border-width: 9px
  left: 50%
  margin-left: -9px
